.homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;
    margin-left: 200px;
    overflow: auto;

    @media screen and (max-width: 1024px){
        flex-direction: column;
        gap:0px;
    }
    .left{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
        text-align: center;
    
    
    h1{
        font-size: 128px;
        background: linear-gradient(to right, #217bfe,#e5557b);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @media screen and (max-width: 1024px){
           font-size: 64px;
    }
}
   
    h3{
    font-weight: 400;
    max-width: 70%;

    @media screen and (max-width: 1024px){
        max-width:100%;
 }
}
.button_in{
    padding: 15px 25px;
    background-color: #217bfe;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 20px;

    &:hover{
        background-color: rgb(194, 207, 212);
        color: #060606;
    }
}
    }
.right{
    flex:1;
    display:center;
    align-items: center;
    justify-content: center;
    height: 180%;
    margin-left: 100px;

.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #140e2d;
    border-radius: 50px;
    width: 80%;
    height: 90%;
    position: relative;

    .bgContainer{
        width: 390px;
        height: 390px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50px;

        .bg{
            background-image:url("/bg.png") ;
            opacity: 0.2;
            width: 700px;
            height: 900px;
            background-size: auto 100%;
            animation: 10s ease-in-out infinite alternate slideBg;
        }
    }

    .bot{
        width:100%;
        height:100%;
        object-fit: contain;
        animation: 5s ease-in-out infinite alternate botAnimate;
    }
    .chat{
        position: absolute;
        bottom:-30px;
        right:-50px;
        display:flex;
        align-items: center;
        gap:10px;
        padding:20px;
        background-color: #2c2937;
        border-radius:10px;
        font-weight: bold;

        @media screen and (max-width: 1024px){
            display: none;
     }

        img{
            width:32px;
            height:32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
}
}
.orbital{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    animation: 100s linear infinite rotateOrbital;
    z-index: -1;
}

.terms{
    position:absolute;
    bottom:10px;
    left:800px;
    transform: translateX(-50%);
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;

    img{
        width: 30px;
        height: 30px;
    }
    .links{
        display: flex;
        gap: 10px;
        color: #888;
        font-size: 10px;
    }
}
}
@keyframes rotateOrbital {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(60deg);
    }
}
@keyframes botAnimate {
    0%{
        transform: scale(1) rotate(0deg);
    }
    100%{
        transform:scale(1.1) rotate(-5deg);
    }
}

@keyframes slideBg {
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-50%);
    }
}